@Import Url("Https://Fonts.Googleapis.Com/Css2?Family=Poppins:wght@400;500;600;700&Display=Swap");
body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
    height: 10%;
}
.sidebar ul a{
    text-align: bottom;
    display: block;
    height: 13%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-top: 40px;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}
.sidebar ul li a:hover{
  text-align: bottom;
  display: block;
  height: 13%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-top: 40px;
  padding-left: 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid black;
  transition: .4s;
  background-color: #063146;
}
.contact ul{
    display: flex;
     margin: 0px;
}
.sidebar ul a i{
    margin-right: 16px;
} 



.sidebar ul li a {
    letter-spacing: 2.5px;
}
.image{
    max-width: 300px;
    margin-top: 200px;
    border: 3px solid black;
    background-repeat: no-repeat;
}
.container1 {
    display: flex;
    /*align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;*/
    height: 100%;
}
.l1{
    margin-left: 500px;
}
.hname{
    margin-top: 300px;
    margin-left: 60px;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    font-weight: 1000;

}
.place {
    font-size: 30px;
    color: rgb(3, 3, 26);
    font-family: 'Bebas Neue', cursive;
font-family: 'Big Shoulders Inline Text', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Sansita Swashed', cursive;
font-family: 'Tourney', cursive;
margin-left: 30px;
}

.heading{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10cm;
    margin-top: 2.5cm;
    padding-top: 3.5cm;
    margin-top: 0cm;
}    

.container2{
    /* background-color: deepskyblue; */
    display: flex;
    /*justify-content: center;*/
    width: 100%;
    border: 1px solid #ccc;
    height: 50%;
    font-family: 'Roboto',sans-serif;
    
}

.aboutme{
    font-size: 20px;
    padding:25px;
    background-color: white; 
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: black;
    width: 50%;
    border: 2px solid black;   
}


.container3{
    display: flex;
    /*align-items: center;
    justify-content: center;*/
    border: 1px solid #ccc;
    height: 100%;
    font-family: 'Roboto',sans-serif;
}

.container4{
     background-color: #fff; 
    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid #ccc;
    line-height: 1.7;
    position: relative;
    height: 110px;
    margin-bottom: 20px;
}
#container4{
    /* background-color: navy; */
    height: 100%;
}
.timeline-area{
    margin: 70px auto;
    width: 360px;
    border-left: 2px solid #ccc;
    padding: 0 20px 0 30px;
}
.container4:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(29, 15, 150);
    border: 3px solid#ddd;
    position: absolute;
    top: 10px;
    left: -40px;
}

.container4:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #ddd transparent transparent;
    border-width: 9px;
    position: absolute;
    left: -17px;
    top: 10px;
}
.container4 h2{
    margin: 0;
    text-transform: uppercase;
    font-family: merinda;
}
.container4 h3{
    margin: 0;
    font-family: poppins;
}
.container4 h4{
    margin: 0;
    font-family: poppins;
}

.container6{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
    min-height: 90vh;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
    border: 1px solid #ccc;
    height: 100%;
    /*background: #f1f1f1;*/
  }
 
 
  .skills{
    width: 100%;
    max-width: 600px;
    padding: 40px 300px;
  }
  
  .skill-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  .skill-bar{
    height: 20px;
    background: #cacaca;
    border-radius: 8px;
    width: 400px;
  }
  
  .skill-per{
    height: 20px;
    background-color:lightskyblue;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
  }
  
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #fff;
    color: black;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }
  #sq{
    padding-right: 100px;
  }
  .container7{
    display: flex;
    height: 10cm;
    border: 2px solid #ddd;
  }
.contact ul li{
    display: inline;
    float: left;
}
.contact ul {
    list-style-type: none;
    margin-top: 3cm;
    margin-left: 3cm;
    padding-top: 0px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 30;
    margin-top: 90px;
}
.contact li a {
    display: block;
    padding: 40px;
  }
 #map{
    margin-left: 3cm;
    margin-top: 2cm;
 }
.container8{
    height: 15cm;
    display: flex;
}
.footer{
    display: block;
    background-color: #042331;
    height: 10%;
}
.copyright_text{
    display: block;
    color: #ddd;
    margin: 20px 20px 200px 500px;
}
@media screen and (max-width:850px) {
  
  .sidebar{
    display:none;
  }
   .container1 {
    display:inline;
    /*align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;*/
    height: 100%;
    margin-bottom:50px;
  }
    .image
    {
      margin-left: 100px;
    }
    .container2
    {
        display: inline;
    }
    .container3{
        display:inline;
    }
    .container5{
        display: inline;
    }
    .container6{
        display: inline;
    }
    .container7
    {
        display: inline;
    }
    .container8
    {
        display: inline;
    }
    .heading
    {
        margin-left: 10px;
    }
    .skill{
      margin-left: -280px;
    }
    .skill-bar
    {
        width:300px;
    }
    .skill-name{
        color:#fff;
    }
    .img{
        width:50px;
        height:50px
    }
    .contact{
        margin-left: 50px;
        width:600px;
        margin-bottom: -70px;
        margin-top: -50px;
    }
    .contact ul {
        margin-left: 1px;
        height: 140px;
    }
    .contact li a {
        padding: 35px;
      }
      .sk{
        margin-bottom: -70px;
      }
      #map
      {
        margin-left:250px ;
        width:300px;
        height:300px;
        margin-top: 20px;
      }
      #a
      {
        margin-left: 35px;
        width:250px;
        height:300px;
        margin-top: -10px;
        margin-bottom: -70px;
      }
      .timeline-area
      {
        margin-left: 60px;
        margin-bottom: -50px;
      }
      .skills{
        margin-left: 60px;
      }
      .skill-bar{
        width: 600px;
      }
      .container4
      {
        width:500px;
      }
      .clg
      {
        height:175px;
      }
      .aboutme{
        margin-left: 20px;
        width:700px;
        margin-bottom: -50px;
      }
      .hname{
        margin-left: 170px;
        margin-bottom: 10px;
      }
      .place{
        margin-left: 20px;
        margin-bottom: -50px;
      }
      .image{
        margin-left: -280px;
        margin-bottom: -250px;
        margin-top: 55px;
      }
      footer
      {
        margin-left: -450px;
        color: whitesmoke;
        margin-top: 20px;
      }
      .icon{
        max-width: 70px;
        max-height: 70px;
      }


   
    
    
}
@media screen and (max-width:480px) {
    .sidebar{
        display:none;
    }
    .container1 {
        display:inline;
        /*align-items: center; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;*/
        height: 100%;
        margin-bottom:50px;
    }
    .image
    {
        display: inline;
    }
    .container2
    {
        display: inline;
    }
    .container3{
        display:inline;
    }
    .container5{
        display: inline;
    }
    .container6{
        display: inline;
    }
    .container7
    {
        display: inline;
    }
    .container8
    {
        display: inline;
    }
    .heading
    {
        margin-left: 10px;
    }
    .skill{
      margin-left: -280px;
    }
    .skill-bar
    {
        width:300px;
    }
    .skill-name{
        color:#fff;
    }
    .img{
        width:50px;
        height:50px
    }
    .contact{
        margin-left: 5px;
        width:300px;
        margin-bottom: -70px;
        margin-top: -50px;
    }
    .contact ul {
        margin-left: 1px;
    }
    .contact li a {
        padding: 10px;
      }
      .sk{
        margin-bottom: -70px;
      }
      #map
      {
        margin-left:30px ;
        width:300px;
        height:300px;
        margin-top: 20px;
      }
      #a
      {
        margin-left: 35px;
        width:250px;
        height:300px;
        margin-top: -10px;
        margin-bottom: -70px;
      }
      .timeline-area
      {
        margin-left: 20px;
        margin-bottom: -50px;
      }
      .container4
      {
        width:200px;
      }
      .clg
      {
        height:175px;
      }
      .aboutme{
        margin-left: 20px;
        width:250px;
        margin-bottom: -50px;
      }
      .hname{
        margin-left: 20px;
        margin-bottom: 10px;
      }
      .place{
        margin-left: 20px;
        margin-bottom: -50px;
      }
      .image{
        margin-left: -468px;
        margin-bottom: -250px;
        margin-top: 55px;
      }
      footer
      {
        margin-left: -450px;
        color: whitesmoke;
        margin-top: 20px;
      }
      .icon{
        max-width: 50px;
        max-height: 50px;
      }


   
    
    
}
